
<div class="card bg-dark text-white">
  <img src="/assets/img/backhead2.jpg" class="card-img">
  <div class="card-img-overlay">
		<h2 class="text-center text-white">{{titleNewApp}}</h2>
		<h5 class="text-center text-white">{{descNewApp}}</h5>
<!--
    <h5 class="card-title">Новое приложение Movere</h5>
    <p class="card-text">это всемирное сообщество любителей легкого и тяжелого автотранспорта, а главное, это возможность найти новых друзей по общему интересу и быстро обратиться за помощью если с Вами что-то случилось в дороге!</p>
-->
  </div>
</div>



<div class="row mt-5">
  <div class="col-md-3">
    <img src="/assets/img/svg/ic_auth.svg" class="card-img">
  </div>
  <div class="col-md-9">
    <div class="card-body">
      <h5 class="card-title">{{tetleRegistration}}</h5>
      <p class="card-text">{{descRegistration}}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <img src="/assets/img/svg/ic_location.svg" class="card-img">
  </div>
  <div class="col-md-9">
    <div class="card-body">
      <h5 class="card-title">{{titleNavigation}}</h5>
      <p class="card-text">{{descNavigation}}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <img src="/assets/img/svg/ic_communication.svg" class="card-img">
  </div>
  <div class="col-md-9">
    <div class="card-body">
      <h5 class="card-title">{{titleCommunication}}</h5>
      <p class="card-text">{{descCommunication}}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <img src="/assets/img/svg/ic_news.svg" class="card-img">
  </div>
  <div class="col-md-9">
    <div class="card-body">
      <h5 class="card-title">{{titleNews}}</h5>
      <p class="card-text">{{descNews}}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <img src="/assets/img/svg/ic_help.svg" class="card-img">
  </div>
  <div class="col-md-9">
    <div class="card-body">
      <h5 class="card-title">{{titleHelp}}</h5>
      <p class="card-text">{{descHelp}}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <img src="/assets/img/svg/ic_total.svg" class="card-img">
  </div>
  <div class="col-md-9">
    <div class="card-body">
      <h5 class="card-title">{{titleTotal}}</h5>
      <p class="card-text">{{descTotal}}</p>
    </div>
  </div>
</div>



<div class="card mt-3" id="downloadBlock">
  <img src="/assets/img/backdown.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
		<div class="row">
			<div class="col-md-6 my-auto">
				<img src="/assets/img/screens.png" class="card-img" alt="...">
			</div>
			<div class="col-md-6 my-auto">

				<div class="card-body text-center">

					<h1 class="card-title">{{titleDowload}}</h1>
					<h2 class="card-text">{{descDowload}}</h2>
					<a class="card-text text-dark" routerLink="/privacy">{{btnPrivacyPolicy}}</a>
					<p class="card-text">
						<a href='file:///ge-Mar2515-1'>
							<img width="200px" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
						</a>
					</p>
				</div>
			</div>
		</div>
  </div>
</div>
